@import "vars";

.root {
  padding: 20px;

  @include isMobile() {
    padding: 16px;
  }
}

.header {
  display: flex;
}

.link {
  & + .link {
    margin-left: 10px;
  }

  &.-active {
    background-color: #FFF !important;
    color: rgba(0,0,0,.87) !important;
    cursor: initial;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  margin-top: 16px;
}
