<div class="root">
  <div class="point">
    <div class="question">Как работает упражнение?</div>
    <div class="answer">
      Вы выбираете песню, затем, строка за строкой её учите.<br>
      Для этого робот прочитает строчку на английском, затем перевод, затем снова на английском.<br>
      Затем прозвучит звуковой сигнал после которого можно проговаривать строчку на английском.
    </div>
  </div>

  <div class="point">
    <div class="question">Как работает переход с следующей строке(степу)?</div>
    <div class="answer">
      <ol>
        <li>
          Приложение сравнивает распознанный сказанный вами текст с текущей строкой песни,
          если расхождение меньше 15% длинны строки или 2 символа, если строка короткая,
          то приложение переходит к следующей
        </li>
        <li>
          Вы можете выбрать любую строку в вводе, или изменить её с помощью +/-
        </li>
        <li>
          Есть голосовая команда <b>skip line</b> - произнесите её вместо текса песни
          - приложение перейдёт к следующей
        </li>
      </ol>

    </div>
  </div>

  <div class="point">
    <div class="question">Настройки</div>
    <div class="answer">
      <b>Say hit percent</b> - будет проговаривать процент совпадения распознанной
      и оригинальной строки песни, после каждой попытки<br>
      <b>Say intro</b> - проговаривает как пользоваться упражнением, на первом степе
    </div>
  </div>
</div>
