@import "vars";

.root {
  display: flex;

  @include isMobile() {
    display: block;
  }
}

.search-box {
  max-width: 866px;
}

.song-box {
  margin: 10px 0 0 100px;
  flex: 1;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 22px;

  @include isMobile() {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.item {
  width: 200px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  border: 3px solid rgba(0, 0, 0, 0);

  @include isMobile() {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &.-selected {
    background: #042e64;
    border-radius: 5px;
    color: #fff;
    border: 3px solid #042e64;
  }
}

.album {
  width: 100%;
  border-radius: 5px;

  @include isMobile() {
    width: 40px;
  }
}

.info {
  @include isMobile() {
    margin-left: 10px;
  }
}

.search-field {
  width: 420px;
  max-width: 100%;
}
